= simple_form_for @mehman, html: { multipart: true } do |f|
  - if @mehman.errors.any?
    %p
      = @mehman.errors.count
      Prevented this Mehman from saving
    %ul
      - @mehman.errors.full_messages.each do |msg|
        %li= msg

  .panel-body.col-md-5
    = f.input :category,
              collection: Mehman::CATEGORY,
              as: :radio_buttons,
              label_method: :capitalize,
              input_html: { class: 'form-control' }
    = f.input :serial, as: :integer, input_html: { class: 'form-control' }
    = f.input :full_name, input_html: { class: 'form-control' }
    = f.input :passport_no, input_html: { class: 'form-control' }
    = f.input :country, input_html: { class: 'form-control' }
    = f.input :arrival_date, as: :date_picker
    = f.input :visa_expiry_date, as: :date_picker
    = f.input :departure_date, as: :date_picker, :include_blank => true

    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Back', root_path, class: 'btn btn-default'
