= simple_form_for @mehman, html: { multipart: true } do |f|
  - if @mehman.errors.any?
    %p
      = @mehman.errors.count
      Prevented this Mehman from saving
    %ul
      - @mehman.errors.full_messages.each do |msg|
        %li= msg

  .panel-body
    = f.input :code, input_html: { class: 'form-control' }
    = f.input :full_name, input_html: { class: 'form-control' }
    = f.input :passport_no, input_html: { class: 'form-control' }
    = f.input :country, input_html: { class: 'form-control' }
    = f.input :arrival_date, input_html: { class: 'form-control' }
    = f.input :arrival_info, input_html: { class: 'form-control' }
    = f.input :visa_expiry_date, input_html: { class: 'form-control' }
    = f.input :departure_date, input_html: { class: 'form-control' }
    = f.input :departure_info, input_html: { class: 'form-control' }
                   
  = f.button :submit, class: "btn btn-primary"
