.div
  .col-sm-6
    .pull-left
      %h2 Mehman List
  .col-sm-6
    .pull-right
      = search_form_for @q do |f|
        .field
          = f.search_field :full_name_or_passport_no_cont, placeholder: "Name or Passport..."
          = f.search_field :code_start, placeholder: "Code..."
          = f.submit

.row
  .col-sm-12
    %table.table.table-bordered.table-condensed.table-striped
      %tr.info
        %th= sort_link @q, :level, "Level"
        %th= sort_link @q, :code, "Code"
        %th= sort_link @q, :country_name, "Country"
        %th= sort_link @q, :full_name, "Full Name"
        %th= sort_link @q, :passport_no, "Passport No"
        %th= sort_link @q, :arrival_date, "Arrival Date"
        %th= sort_link @q, :visa_expiry_date, "Visa Expiry"
        %th= sort_link @q, :departure_date, "Departure Date"
        %th Action

      - @mehmen.each do |mehman|
        %tr
          %td
            - if mehman.safe?
              %i.fa.fa-heart-o
            - elsif mehman.normal?
              %i.fa.fa-adjust
            - else
              %i.fa.fa-bolt
          %td= mehman.code.try(:upcase)
          %td= mehman.country_name
          %td= mehman.full_name.try(:titleize)
          %td= mehman.passport_no.try(:upcase)
          %td= mehman.arrival_date.strftime('%d/%m/%Y')
          %td= mehman.visa_expiry_date.strftime('%d/%m/%Y')
          %td= mehman.departure_date.try(:strftime, '%d/%m/%Y')
          %td
            = link_to edit_mehman_path(mehman) do
              %i.fa.fa-pencil-square-o
            - if mehman.status == 'returned'
              = link_to back_mehman_path(mehman) do
                %i.fa.fa-undo
            - else
              = link_to return_mehman_path(mehman) do
                %i.fa.fa-share
.row
  .col-sm-12
    .pull-left
      = will_paginate @mehmen, renderer: BootstrapPagination::Rails