<h1> Search Results </h1>
<%= link_to "Back", new_search_path %>

<% if @search.search_mehmen.empty? %>
  <h3> No Records Found </h3>
<% else %>
  <div class="row">
    <div class="col-sm-12">
	  <table class="table table-bordered table-condensed table-striped">
	    <tr class = "info">
	      <th> Level </th>
	      <th> Code </th>
	      <th> Country </th>
	      <th> Full Name </th>
	      <th> Passport No </th>
	      <th> Arrival Date </th>	    
	      <th> Visa Expiry </th>
	      <th> Departure Date </th>
	      <th> Arrival Info </th>
	      <th> Departure Info </th>
	      
	    </tr>
	    <% @search.search_mehmen.each do |s| %>
	    <tr class = "">
	      <td> <i class="fa fa-plus-square"></i> <i class="fa fa-square"></i> <i class="fa fa-square-o"></i></td>
	      <td> <%= s.code.upcase %> </td>
	      <td> <%= s.country_name %> </td>
	      <td> <%= s.full_name.titleize%> </td>
	      <td> <%= s.passport_no.upcase %> </td>
	      <td> <%= s.arrival_date.strftime('%d/%m/%Y') %> </td>
	      <td> <%= s.visa_expiry_date.strftime('%d/%m/%Y') %> </td>
	      <td> <%= s.departure_date.strftime('%d/%m/%Y') %> </td>
	      <td> <%= s.arrival_info %> </td>
	      <td> <%= s.departure_info %> </td>
	      
	    </tr>
	    <% end %>
	  </table>
    </div>
  </div>
<% end %>
